@model IEnumerable<Chat>
@{ ViewData["Title"] = "Home Page";
                var userName = User.Identity.Name; }

@if (User.Identity.IsAuthenticated)
{
    <h2 class="text-center main-color">
        <i class="fab fa-facebook-messenger"></i>&nbsp; Join Room
    </h2>
    <div>
        @foreach (var chat in Model)
        {
            <a class="room-button" asp-controller="Home" asp-action="JoinRoom" asp-route-id="@chat.Id">
                @chat.Name
            </a>
        }
    </div>

    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}


@section scripts {
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}

